.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .container {
    display: flex;
    align-items: flex-start;
}

.footer-logo-block {
    /* Відступ між блоками задається маржином, а не gap */
    margin-right: 120px;
}

.footer .logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.footer .logo-studio {
    color: #f4f4fd;
}

.footer p {
    max-width: 264px;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-list li {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transition: background-color var(--transition-dur-and-func);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}
